body{
    background-color: rgb(218, 218, 218);
}

#logo{
    width: 45px;
}

#shadow{
    color: white;
    text-shadow: 0 0 2px aqua,
                 0 0 5px aqua,
                 0 0 10px aqua;
}

#titulo{
    text-align: center;
    padding: 1%;
    font-family: cursive;    
    color: white;
    text-shadow: 0 0 2px aqua,
                 0 0 5px aqua,
                 0 0 10px aqua,
                 0 0 20px aqua;
}

#hola{
    font-size: 130%;
}